// port to run app
PORT=3000

// secret used to sign session id cookie
// should not be parsed by humans and best be random string of characters
SESSION_SECRET=<your_Session_Secret>
NODE_ENV=development || production


// fallback argon2 hash to use when user doesnt exist during login 
// to defend against timing attacks
// the hash itself doesnt matter as long as its valid argon2 hash
FALLBACK_HASH=<enter_valid_argon2_hash>

// the project uses supabase for file uploads
// create a new project in supabase 
SUPABASE_PROJECT_URL = <enter_supabase_project_url>
// secret key to bypass RLS security
SUPABASE_SECRET_KEY = <enter_your_project's_secret_key>

// DB connection string
// replace following placeholders with your actual db credentials
// username: 
// password
// localhost:5432
// mydb
DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"