<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/styles/reset.css"> 
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <main class="errorPage">
        <section>
            <h1>404</h1>
            <h2>Oops!</h2>
            <p>
                The Page you are looking for doesn't seem to exist. Please go to back to
                homepage.
            </p>
            <a href="/" class="link_btn pageNav">Go Home</a>
        </section>
    </main>
</body>
</html>