<%- include('../partials/header.ejs') %>
<main>
    <%- include('../partials/error.ejs') %>
    <form action="/files/new" method="post" enctype="multipart/form-data">
        <div>
            <label for="file_name">Choose an image file to upload (png, jpg or jpeg)</label>
            <input type="file" name="file_name" id="file_name" accept=".jpg, .jpeg, .png" multiple required>
        </div>
        <button type="submit">Upload</button>
    </form>
</main>
<%- include('../partials/footer.ejs') %>