<%- include('../partials/header.ejs') %>
<main>
    <section>
        <%- include('../partials/error.ejs') %>
        <%- include('../partials/login-signUp.ejs') %>
        <p>Dont't have an account? <a href="/sign-up">Sign Up</a></p>
    </section>
</main>
<%- include('../partials/footer.ejs') %>