<%- include('../partials/header.ejs') %>
<main>
    <section class="login form">
        <h2>Please Sign Up!</h2>
        <%- include('../partials/error.ejs') %>
        <%- include('../partials/login-signUp.ejs') %>
        <p>Already have an account? <a href="/login">Login</a></p>
    </section>
</main>
<%- include('../partials/footer.ejs') %>