<%- include('../partials/header.ejs') %>
<main>
    <section>
        <%- include('../partials/error.ejs') %>
        <%- include('../partials/login-signUp.ejs') %>
        <p>Already have an acoount? <a href="/login">Login</a></p>
    </section>
</main>
<%- include('../partials/footer.ejs') %>